*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#sidebar{
  position: relative;
  width: 100%;
}
.navigation .span-title{
  color: pink;
  font-weight: 700;
}
.navigation.active{
  width: 60px;
}
.navigation{
  position: fixed;
  width: 300px;
  height: 100%;
  background: #003147;
  transition: 0.5s;
  overflow: hidden;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li{
  position: relative;
  width: 100%;
  list-style: none;
  margin: 10px auto;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation ul li.active{
  background: #03a9f4;
}
.navigation ul li:hover{
  background: #03a9f4;
  transition: all .2s ease-in;
}
.navigation ul li:nth-child(1){
  margin-bottom: 20px;
}
.navigation ul li:nth-child(1):hover{
  background: transparent;
}
.navigation ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation ul li a .icon img,
.navigation ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon .fa{
  color: #fff;
  font-size: 24px;
}
.navigation.active .title-judul{
  display: none;
  white-space: nowrap;
}
.navigation ul li a .title{
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}
/* Topbar Dashbaord */
.main{
  position: relative;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: #f5f5f5;
  transition: 0.5s;
}
.main.active{
  width: calc(100% - 60px);
  left: 60px;
}
.main .topbar{
  width: 100%;
  background-color: #fff;
  height: 60px;
  display: flex;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  overflow: hidden;
}
.toggle::before{
  content: '\f0c9';
  font-family: fontawesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-style: 24px;
  text-align: center;
  color: #111;
}
.user{
  position: relative;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.user img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Content */
.details{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
}
.details .recentOrders{
  position: relative;
  min-height: 300px;
  background: #fff;
  padding: 20px;
}
.cardHeaders{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeaders h2{
  font-weight: 600;
}
.details table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.btn{
  padding: 5px 10px;
  background: #003147;
  color: #fff;
  text-decoration: none;
  outline: none;
  border: none;
}
.details table thead td{
  font-weight: 700;
  font-size: 14px;
  background: #003147;
  color: #fff;
}
.details .recentOrders table tr{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tbody tr:last-child{
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover{
  background: #03a9f4;
  color: #fff;
}
.details .recentOrders table tr td{
  padding: 9px 5px;
  font-size: 14px;
}
.status{
  position: relative;
  padding: 2px 4px;
  background: #ff0000;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}
.dikirim{
  background: #fff130;
}
.dibayar{
  background: #8de02c;
}
.belumbayar{
  background: #ff0000;
}
.belumkirim{
  background: #ff0000;
}
.details .recentOrders table thead tr td:last-child,
.details .recentOrders table tbody tr td:last-child{
  text-align: right;
}
.details .recentCustomers{
  position: relative;
  min-height: 300px;
  background: #fff;
  padding: 20px;
}
.details .recentCustomers .imgBox{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.details .recentCustomers .imgBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details .recentCustomers table tr td h5 span {
  font-size: 14px;
  color: #999;
}
.details .recentCustomers table tr:hover td h5 span,
.details .recentCustomers table tbody tr:hover{
  background: #03a9f4;
  color: #fff;
}
.details .recentCustomers table tr td{
  padding: 5px 10px;
}
.details .recentCustomers table tr td h5{
  font-style: 16px;
  font-weight: 500;
  line-height: 1.2em;
}
/* Responsive via Desktop */
@media (max-width: 1200px){
  .card-detail .detail_produk .img-detail {
    height: 15%;
    width: 20%;
  }
  .navigation{
    left: -300px;
  }
  .navigation.active .title-judul {
    display: inline-block;
  }
  .navigation.active{
    left: 0;
    width: 300px;
  }
  .details .recentOrders {
    overflow-x: auto;
  }

  .details .recentCustomers {
    overflow-x: auto;
  }
  .main{
    width: 100%;
    left: 0;
  }
  .main.active{
    width: calc(100% - 300px);
    left: 300px;
  }
}
/* Responsive via Tablet */
@media (max-width: 758px) {
  .card-detail .detail_produk .img-detail {
    height: 15%;
    width: 20%;
  }
  .details{
    grid-template-columns: repeat(1,1fr);
  }
  .details .recentOrders {
    overflow-x: auto;
  }
  .details .recentCustomers {
    overflow-x: auto;
  }
  .cardHeaders{
    font-weight: 600;
    font-size: 18px;
  }
}
/* Responsive via Mobile */
@media (max-width: 480px) {
  .details .recentOrders {
    overflow-x: auto;
  }
  .card-detail .detail_produk .img-detail{
    height: 50%;
    width: 30%;
  }
  .details .recentCustomers {
    overflow-x: auto;
  }
  .details .recentOrders table{
    width: 600px;
  }
  .navigation{
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active{
    width: 100%;
    left: 0;
  }
  .toggle.active{
    z-index: 1000;
    right: 0;
    left: initial;
    position: fixed;
  }
  .toggle.active::before{
    color: #fff;
  }
  .main,.main.active{
    width: 100%;
    left: 0;
  }
}